* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.chucNang {
  /* display: flex; */
  display: block;
}
#txtSearch2 {
  width: 70%;
  margin-left: 40px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid #1f1f1f;
  margin-top: 10px;
  font-size: 1rem;
}

#DS_KH {
  /* width: 65%; */
  width: 100%;
  padding: 10px;
}
#mainTable {
  width: 100%;
}
#mainTable h2,
#itemForm h2 {
  display: block;
  text-align: center;
  margin: 30px;
  font-weight: bold;
  font-size: 1.17em;
}
table {
  border-collapse: collapse;
  width: 100%;
  padding: 5px;
  margin-bottom: 30px;
}
th {
  border-collapse: collapse;
  background-color: #333333bb;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 30px;
}
table,
th,
td {
  border: 1px solid black;
  padding: 10px;
}
.btn_ {
  display: flex;
  width: 100%;
}
.btn_ button {
  width: 70%;
  margin: 5%;
  padding: 2px;
}

/*  */
#timkiemKH {
  width: 100%;
  padding: 20px;
  background-color: #333333bb;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 2px;
  margin-top: 10px;
  height: auto;
  color: white;
  display: none;
}

.itemForm h2 {
  margin-bottom: 20px;
  text-align: center;
}

.itemForm form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* .itemForm1 form {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

.itemForm input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 30px;
}

.itemForm label {
  font-weight: bold;
  margin-bottom: 5px;
}
#btn1 {
  display: flex;
  justify-content: flex-end;
  width: 20%;
}
#btn1 button {
  width: 100%;

  padding: 10px;
  font-weight: bold;
}
#btn1 button:hover {
  background-color: red;
}
/*  */
.phantrang {
  font-size: 20px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f9f9f9;
  padding: 10px 20px;
  border: 1px solid #ddd;
  z-index: 10;
}

.sotrang {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: all 0.3s ease;
}

.sotrang:hover {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-color: #007bff;
}

#suaTTKH {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #333333bb;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 50%;
  z-index: 10;
}

/*TUAN*/
@media (max-width: 900px) {
  .chucNang {
    flex-direction: column-reverse;
  }
  #tableKH {
    margin: auto;
  }
  #DS_KH {
    width: 100%;
    margin: auto;
  }
  #timkiemKH {
    margin: auto;
  }
}

@media (max-width: 600px) {
  #tableKH {
    margin: auto;
  }
  #DS_KH {
    width: 100%;
    margin: auto;
  }
  #timkiemKH {
    margin: auto;
    width: auto;
  }
}
@media (max-width: 400px) {
  #tableKH {
    margin: auto;
  }
  #DS_KH {
    width: 100%;
    margin: auto;
  }
  #timkiemKH {
    margin: auto;
    width: auto;
  }

  .itemForm h2 {
    width: 200px;
  }
}
