#count-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
#showBill{
    width: 70%;
    margin: 0px 15px;
}
#detail-count{
    width: calc(30% - 30px);
}
.row-count{
    cursor: pointer;
}
.row-count:hover{
    background-color: #a9a8a8;
}