
#detail-container{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.632);
}
#detail-bill{
    text-align: center;
    width:40%;
    background-color: aliceblue;
    margin: auto;
    position: relative;
    top : 50%;
    transform: translate(0%, -50%);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
#detail-bill p{
    display: inline-block;
    width: 50%;
}
#closeDetail{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 10%;
    height: 10%;
}
.infor-wrap{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.infor-wrap div{
    width: 50%;
}
#billTable{
    width: 70%;
    border-collapse: collapse;
    margin: 15px;
}
#billTable th, td{
    text-align: center;
    padding: 20px 0px;
}
#billTable tr{
    border-bottom: 1px solid black;

}
#billTable tr:hover{
    background-color: rgba(126, 125, 125, 0.332);
}

@media only screen and (max-width: 768px){
    #container{
        flex-direction: column-reverse;
    }
    #maintable{
        width: auto;
    }
}

#bill-content{
    display: flex;
    flex-wrap: nowrap;
}

#tableBill{
    width: 70%;
}

#searchBill{
    width: calc(30% - 30px);
}

#detail-container{
    background-color: #333;
  }
  
  #detail-bill{
    display: none;
    position: absolute;
    padding-top: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: #333;
  }
  
  #detail-bill #closeDetail{
    position: absolute;
    top: 0px;
    right: 10px;
    border: none;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    color: #ccc;
    cursor: pointer;
  }
  
  #detail-bill h2{
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    font-size: 3rem;
    color: #333;
  }
  
  #detail-bill .infor-wrap{
    display: flex;
    padding: 10px 0;
  }
  
  .infor-wrap p{
    font-size: 18px;
    overflow-y: hidden;
    font-weight: bold;
    margin: 10px;
  }
  
  #detail-bill button{
    padding: 20px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    margin-bottom: 0;
  }
  
  #select-bill div{
    display: flex;
    justify-content: center;
    margin: 20px 20px;
    flex-wrap: wrap;
  }
  
  #select-bill div h3{
    font-size: 2.5rem;
    color: #333;
  }
  
  #select-bill div form span{
    font-size: 1.7rem;
    margin-right: 20px;
    font-weight: bold;
  }
  
  #select-bill select{
    padding: 5px;
    font-size: 1rem;
    margin-left: 10px;
  }