#count-container{
    display: flex !important;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;
}
#countTop, #countBottom{
    width: 100%;
    text-align: center;
    padding: 15px;
    display: flex;
}

#countTop{
    justify-content: start;
    align-items: center;
    gap: 50px;
}

#totalBill h3,
#detail-count h3{
    font-size: 1.5rem;
    color: #333;
    margin: 20px;
}

#totalBill{
    width:70%;
    padding-right: 15px;
}
#detail-count{
    width: 30%;
    padding: 0px 15px;
}
@media only screen and (max-width: 767px){
    #count-container{
        flex-direction: column;
    }
    #showBill{
        width: 100%;
        margin: 0;
    }
    #detail-count, #totalBill{
        width: 100%;
    }
}