*{
  
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

#navbar{
    align-items: center;
    padding: 20px 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #ffffff, #cecece);
    position: fixed;
    top: 0;
    left: 0;
   z-index: 2000;
    right: 0;
    
    

}

#nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

#navbar #nav-logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    padding: 0;
    margin: 0;

    
}

#navbar ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar ul li{
    margin-right: 20px;
    padding: 0 10px;
    border-radius: 5px;
}

#navbar ul li a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
}

#navbar ul li a:hover{
    position: relative;
}

#navbar ul li a:hover::after {
    width: 120%;
    left: -10%;
    background: #333;
}

#navbar ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 20px;
    right: 0;
    background: #333;
    transition: width 0.4s ease;
}

#overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#SignForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    z-index: 1001;
    display: none;
}

#SignForm-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}

#SignForm button:hover{
    background: #555;
}

#SignForm-inputs input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    border-radius: 0.3rem;
}

#SignForm-submit{
    position: relative;
    padding: 20px 20px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

#SignForm-submit div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#SignForm-close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

#SignForm #SignForm-close:hover{
    color: #555;
}

#SignForm-APT{
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-top: 20px;
}

#SignForm-APT a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

#RegisterForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    z-index: 1001;
    display: none;
}

#RegisterForm-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}
.RegisterForm-desc{
    padding: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: #5c5c5c9c;
    margin-bottom: 30px;
}

#RegisterForm button:hover{
    background: #555;
}

#RegisterForm-inputs input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    border-radius: 0.3rem;
}
#RegisterForm-checkbox{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#RegisterForm-checkbox input{
    margin-right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#RegisterForm-checkbox input:checked{
    background: #333;
}

#RegisterForm-checkbox label{
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}
#RegisterForm-submit{
    position: relative;
    padding: 20px 20px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

#RegisterForm-submit div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#RegisterForm-close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

#RegisterForm #RegisterForm-close:hover{
    color: #555;
}

#RegisterForm-APT{
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-top: 20px;
}

#RegisterForm-APT a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

#tieude{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tieude h3{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-weight: 600;
    background-image: url(img/giphy.webp);
    background-size:unset;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 40px;
    font-family: 'Poppins', sans-serif;
}

.footer {
    background-color: #f2f2f2;
    margin-top: 30px;
    border-top: 4px solid #333;
}

.footer-container {
    margin: 0 10%;
    display: block;
}

.footer-top {
    padding: 32px 0;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}

.footer-top-content {
    display: flex;
    line-height: 26px;
    justify-content: space-between;
}

.footer-top-img {
    border-right: 1px solid #e6e6e6;
    padding-right: 25px;
}

.footer-top-img img {
    width: 240px;
}

.footer-top-subbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.footer-top-subs-title {
    font-size: 24px;
    font-weight: 700;
}

.footer-top-subs-text {
    font-size: 15px;
    color: #888;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 10px;
}

.form-ground {
    margin-left: 50px;
    line-height: 26px;
}

.form-ground-input,
.form-ground-btn {
    height: 50px;
    border-radius: 99px;
    font-weight: 500;
    font-size: 16px;
}

.form-ground-input {
    padding: 0 30px;
    border: 1px solid #ccc;
    color: #4D5765;
    outline: none;
    font-size: 15px;
}

.form-ground-btn {
    margin-left: 10px;
    padding: 0 40px;
    cursor: pointer;
    background: #333;
    overflow: hidden;
    outline: none;
    color: white;
    text-transform: uppercase;
}

.form-ground-btn span {
    margin-right: 10px;
}

.form-ground-btn:hover {
    color: #010f1c;
    background-color: #f1f1f1;
    border: solid 1px #222;
}

.widget-area {
    padding: 60px 0 30px;
}

.widget-row {
    display: flex;
    justify-content: space-between;
}

.widget-row-col {
    width: 15%;
}

.widget-row-col-1 {
    width: 25%;
}

.widget-row>div{
    padding: 0 10px 10px;
}

.widget-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}

.widget-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: none;
    height: 2px;
    width: 150px;
    background-color: #686868;
}

.widget-row-col-content {
    padding-bottom: 18px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.widget-social {
    display: flex;
}

.widget-social-item {
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s linear;
}

.widget-contact-item {
    margin-bottom: 12px;
    list-style: none;
}

.widget-contact-item i {
    transition: transform 0.3s linear;
}

.widget-contact-item a {
    color: #2C2C2C;
    text-decoration: none;
}

.widget-contact-item:hover i {
    transform: translateX(4px);
}

.widget-social-item:hover {
    background-color: #2C2C2C;
    border: none;
}

.widget-social-item:hover i {
    color: #fff;
}

.widget-social-item i {
    color: #2C2C2C;
}

.widget-contact i {
    font-size: 16px;
    margin-right: 10px;
}

.widget-contact span {
    font-weight: 400;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-item-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    background-color: #2C2C2C;
}

.contact-content {
    margin-left: 10px;
    width: 80%;
    line-height: 1.5;
    font-size: 15px;
}

.copyright-wrap {
    background: #f3f5f7;
    color: #333;
    margin: unset;
    padding: 18px 0;
    border-top: 1px solid #e6e6e6;
}

.copyright-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Back to top */
.back-to-top a {
    visibility: hidden;
    opacity: 0;
    transform: scale(0) rotate(180deg);
    position: fixed;
    right: 40px;
    bottom: 70px;
    height: 40px;
    width: 40px;
    background-color: #010f1c;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.4s ease;
    z-index: 999;
}

.back-to-top.active a {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}


/*
css của sản phẩm
*/
#toan1{
    margin-top: 75px;
}

.tieude{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tieude h3{
    margin-left: 5px ;
    font-size:30px;
}
.sptieude{
    display: flex;
    
    scroll-behavior: smooth;
    max-width: 100%;
}
.sanpham1{
    min-width: 30%;
    margin: 5px 10px;
    width: fit-content;
   
    cursor: pointer;
}
.sanpham1-img{
    width: 100%;
   
}
.sanpham1 h3{
    margin:0
}
.sanpham2 {
    position: relative;
    width: fit-content; /* Đảm bảo khung bao quanh vừa ảnh */
    margin: 10px;
}

.sanpham2 img {
    
    width: 100%; 
}


.text-overlay {
    position: absolute;
    bottom: 30px; 
    left: 30px; 
    background-color: rgba(210, 210, 210, 0.8); 
    padding: 5px 10px;
    border-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}
.text-overlay:hover{
    background-color:rgb(151, 151, 151) ;
}

#allsp{
    width: 95%;
    margin: auto;
}

.exit{
    position: absolute;
    top:0;
    right: 15px;
    font-size: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.mota-trai img{
    width: 100%;
  
}
.mota-phai{

    margin-left: 25px;
}

.mota-phai h6{
    color: rgba(0, 0, 0, 0.499);
    text-align: center;
    font-size: 16px ;
    margin: 50px;
}
#price{
    text-align: center;
    margin: 30px;
    font-size: 25px;
}
.row{
    width: 400px;
    display: flex;
    margin-bottom: 40px;
    padding: 10px 10px;
}
#size{
    
    font-size: 16px;
    padding: 5px 30px;
}
.kichco{
    width: 50%;
}
.kichco h4{
    margin: 20px;
}
#sl{
    font-size: 16px;
    width: 80px;
    padding: 5px ;
    text-align: center;
    border: 2px solid black;
    
}
.soluong h4{
    margin: 20px;
}
.bot{
    font-size: 16px;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    cursor: pointer;
}
.them{
    font-size: 16px;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    cursor: pointer;
}
.addtocart{
   
    font-size: 26px;
    color: white;
background-color: black;
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer;
    width: 80%;
    margin-bottom: 30px;

}

.buy{
    font-size: 26px;
    color: white;
    background-color: rgb(255, 0, 0);
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer;
    width: 80%;

}
.line {
    border-top: 2px dashed #6e6e6e; /* Dòng đứt đoạn màu xám nhạt */
    margin: 2px 0; /* Điều chỉnh khoảng cách trên và dưới nếu cần */
}


.danhsach-sanpham{
    
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    gap: 16px;
   
    
}

.phantrang{
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 2px;
}
.sotrang{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    padding: 14px;
    border: 1px groove  ;
    border-radius: 15%;
    

}
.sotrang:hover{
    background-color: gold;
}
#menu-sanpham1 {
    position: relative;
}
.cuahang-sp{
    position: relative;
}
#phanloai-container{
    margin-left: 20px;
}
#phanloai{
    display: none;
    position: absolute;
    background-color: rgba(122, 122, 122, 0.5);
    border-radius: 5px;
}
#pl-text{
    font-size: 1.8rem;
    font-weight: 600;
    color: #444444;
}
.phanloai-item{
    text-align: center;
    border-bottom:1px groove ;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
    min-width: 60px;
    
}

.phanloai-item:hover{
    color: #ffffff;
}
#cuahang-sp:hover > #phanloai{
    display: flex;
    flex-direction: column;
    
}
#phanloai-giay{
    display: none;
    position: absolute;
    background-color: rgba(122, 122, 122, 0.5);
    border-radius: 5px;
    left: 119px;
    top:0;
   
}
.pl-giay{
    text-align: center;
    border-bottom:1px groove ;
    padding: 20px;
    margin: 5px;
    cursor: pointer;
    min-width: 150px; 
    white-space: nowrap;
    color: #333;
}
.pl-giay:hover{
    color: #ffffff;
}
.phanloai-item:hover> #phanloai-giay{
    display: flex;
    flex-direction: column;
}

.product{
    width:calc(25% - 16px) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.product:hover{
    transform: translateY(-10px);
}

.product h3{
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    margin-bottom: 10px;
    width: 80%;
    text-align: center;
}

.product p{
    font-size: 1.2rem;
    font-weight: 800;
    color: #660000;
    margin-bottom : 20px;
}

.product button{
    padding: 10px 100px;
    border: none;
    background: transparent;
    color: #33333357;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product button:hover{
    background: #333;
    color: #f1f1f1;
    border: solid 1px #333;
}
/*tuấn*/


@media only screen and (max-width: 1000px) {
     .product {
        flex: 1 1 calc(33.33% - 20px);
    }
    .mota-sanpham{
        width: 90%;
    } 
    #footer-items {
        flex-direction: column;
        align-items: center; 
        text-align: center; 
        gap: 10px; 
        
    }

    .footer-item {
        
        padding: 10px 0; 
    }
   
}

@media only screen and  (max-width: 768px) {
    .product {
        flex: 1 1 calc(60% - 20px); 
    }


    #nav-links {
        flex-direction: column; 
        align-items: center; 
    }

    #navbar #nav-logo{
        margin-bottom: 10px; 
        flex: none; 
    }
    .tieude{
        margin-top: 100px;
    }

    #footer-items {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
        gap: 10px;
        
    }

    .footer-item {
        
        padding: 10px 0; 
    }
   
  #navbar ul li{
    margin-right: 20px;
    padding: 0 20px;
    border-radius: 5px;
}
.mota-sanpham {
    flex-direction: column; 
    align-items: flex-start; 
    gap: 15px; 
      overflow-y: auto; 
    
}
.mota-trai img{
    width: 50%;
   margin-left: 100px;

}
.mota-phai{
    width: 70%;
  

}
#toast{
    top: 100px;
}

.toast+.toast{
    margin-top: 20px;
}
.sptieude{
    margin-top: 120px;
}
.sanpham2{
    margin: auto;
    padding:5px;

}
.text-overlay{
    text-align: center;
    width: 70%;
    margin-top: 70px;
}

} 
