*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
}

#navbar{
    align-items: center;
    padding: 20px 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #ffffff, #cecece);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2000;
}

#nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar #nav-logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

#navbar ul{
    display: flex;
    list-style: none;
}

#navbar ul li{
    margin-right: 20px;
    padding: 0 10px;
    border-radius: 5px;
}

#navbar ul li a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 500;
}

#navbar ul li a:hover{
    position: relative;
}

#navbar ul li a:hover::after {
    width: 120%;
    left: -10%;
    background: #333;
}

#navbar ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 20px;
    right: 0;
    background: #333;
    transition: width 0.4s ease;
}

#overlay{
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: none;
}

#SignForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    z-index: 1001;
    display: none;
}

#SignForm-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

#SignForm button:hover{
    background: #555;
}

#SignForm-inputs input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    border-radius: 0.3rem;
}

#SignForm-submit{
    position: relative;
    padding: 20px 20px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

#SignForm-submit div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#SignForm-close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

#SignForm #SignForm-close:hover{
    color: #555;
}

#SignForm-APT{
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-top: 20px;
}

#SignForm-APT a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

#RegisterForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    z-index: 1001;
    display: none;
}

#RegisterForm-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

#RegisterForm button:hover{
    background: #555;
}

#RegisterForm-inputs input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
    border-radius: 0.3rem;
}

#RegisterForm-submit{
    position: relative;
    padding: 20px 20px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

#RegisterForm-submit div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#RegisterForm-close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

#RegisterForm #RegisterForm-close:hover{
    color: #555;
}

#RegisterForm-APT{
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    margin-top: 20px;
}

#RegisterForm-APT a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
    cursor: pointer;
}

#CartForm{
    position: fixed;
    top: 33%;
    left: 80%;
    height: auto;
    width: 500px;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    z-index: 1001;
    display: none;
}

#CartForm-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#CartForm-close{
    position: absolute;
    margin-top: 10px;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

#CartForm-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    padding: 40px;
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
}

#CartForm-items{
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    height: 300px;
    overflow-y: scroll;
}

#CartForm-items-list li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

#CartForm-items-list li div{
    margin-left: 20px;
}

#CartForm-items img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

#CartForm-actions{
    display: flex;
    align-items: center;
}

#CartForm-view{
    padding: 20px 200px;
    border: none;
    background: #723232;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

#CartForm-view:hover{
    opacity: 0.95;
}

#SearchBar{
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 30px 200px;
    top: 60px;
    height: 70px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

#SearchBar input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0.3rem;
}

#SearchBar-submit{
    padding: 10px 10px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}



#footer{
    height: 50vh;
    width: 100%;
    background: linear-gradient(to right, #333, #555, #333);
}

#footer-items{
    display: flex;
    justify-content: space-evenly;
}

.footer-item{
    margin: 20px 60px;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

.footer-item p{
    margin: 10px 0;
}

.fiheadline{
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin: 20px 0;
}

.ficontent{
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    padding-top: 20px;
}

.ficont{
    margin-top: 60px;
    font-size: 1rem;
}

.ficont2{
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
}

.footer-item ul li{
    margin: 5px 0;
    list-style: none;
    font-style: italic;
}

/* Cart start */

#hero-image img{
    width:100%;
}

#status-cart{
    position: relative;
    top: -200px;
}

#status-cart ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: rgba(240, 248, 255, 0.8);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.55);
    
    align-items: center;
}

#status-cart li{
    min-height: fit-content;
    padding: 15px;
    list-style-type: none;
    box-sizing: border-box;
}

#status-cart a{
    text-decoration: none;
}

#status-cart a:visited, a:link{
    color: black;
}

#status-cart li:hover{
    background-color: #ffffff;
    border: 1px solid #333333;
    padding: 20px;
    border-radius: 20px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

#main-cart{
    position: relative;
    top: -160px;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto; 
}

#wrap-cart{
    border-radius: 10px;
    background-color: rgba(240, 248, 255, 0.8);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.55);
    padding: 15px;
    text-align: center;
}

#wrap-cart a {
    text-decoration: none;
}

#wrap-cart a:visited, a:link{
    color: black;
}

#wrap-cart span, h2{
    margin: 15px;
}
#wrap-cart span{
    display: inline-block;
    padding: 20px 90px;
    border: 3px solid skyblue
}
table{
    width: 100%;
    text-align: left;
}
td, th{
    padding: 15px;
}
td img{
    max-width: 100px;
    max-height: 100px; 
}

#sl{
    font-size: 16px;
    width: 80px;
    padding: 5px ;
    text-align: center;
    border: 2px solid black;
    
}

.bot{
    font-size: 16px;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    cursor: pointer;
}
.them{
    font-size: 16px;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    cursor: pointer;
}

.count-quantity{
    display: flex;
    flex-wrap: nowrap;
}

#total-bill{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #ffffff, #cecece);
    position: sticky;
    bottom: 0px;
}

.billname{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@keyframes highlight {
    from {
        background-color: grey;
    }
    to {
        background-color: transparent;
    }
}

@media  only screen and (max-width: 600px){
    .container{
        width: 90%;
    }
    td, th{
        padding: 4px;
    }
    td img{
        max-width: 70px;
        max-height: 70px;
    }
    .count-quantity button, {}
}

/* tài */
.checkout-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.checkout-box h3 {
    margin-top: 0;
    color: #333;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}
#payment-methods label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  #payment-methods i {
    font-size: 20px;
    color: #28a745;
  }
  
  #payment-methods input[type="radio"] {
    margin-right: 8px;
  }
  
  .checkout-box button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .checkout-box button:hover {
    background-color: #218838;
  }
  
  #address-box {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
  }
  
  #address-box h4 {
    margin-bottom: 10px;
  }
  
  #address-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.5;
  }
  
  #address-box button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  #address-box button:hover {
    background-color: #218838;
  }
  
  #back-button {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    display: none;
    margin-top: 10px;
  }
  
  #back-button:hover {
    background-color: #5a6268;
  }
  
  #close-checkout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #close-checkout-button:hover {
    background-color: #c82333;
  }
  
  button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  #cart {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    width: 300px;
    display: block;
  }
  
  #cart-items {
    list-style: none;
    padding: 0;
  }
  
  #cart-items li {
    display: flex;  
    justify-content: space-between;
    margin-bottom: 5px;
  }
  #card-info-box {
    margin-top: 20px;
  }
  
  #card-info-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  #card-info-box input[type="text"] {
    font-family: Arial, sans-serif;
  }
  
  #transfer-image-container {
    margin-top: 20px;
  }
  
  #transfer-image-container img {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
  #payment-image-container {
    display: none;
    margin-left: 20px; 
    flex-shrink: 0; 
  }
  
  #payment-image-container img {
    width: 200px; 
    height: auto;
    object-fit: contain; 
  }

  