@media only screen and (max-width: 1200px) {
    .container{
        width: 85%;
    }
}

@media only screen and (max-width: 1023px) {
    .container{
        width: 87%;
    }
    #cart-table td, th{
        padding: 5px;
    }
}

@media  only screen and (max-width: 768px){
    #cart-background{
        height:220px;
    }
    #status-cart{
        text-align: center;
    }
    input[type="checkbox"]{
        width: 15px;
        height: 15px;
    }
    
    #status-cart li{
        padding: 10px 5px;
    }
    .container{
        width: 93%;
    }
    .status-table td, th{
        text-align: center;
        padding: 4px;
    }
    #cart-table td, th{
        text-align: center;
        padding: 20px 4px;
    }
    #cart-table td img{
        max-width: 70px;
        max-height: 70px;
    }
    #cart-table select{
        margin: 10px 0px;
    }
    #wrap-cart{
        padding: 0px;
    }
    .count-quantity{
        justify-content: center;
    }
    .count-quantity button{
        width: 25px;
        height: 25px;
    }
    .count-quantity input[type="text"]{
        height: 25px;
        width: 30px !important;
    }
    .cart-item-size select{
        height: 25px;
        width: 70%;
        text-align: center;
    }
    #wrap-cart span{
        margin: 5px;
        padding: 10px;
    }
    #outside{
        top: -100px;
    }
}
@media only screen and (max-width: 425px) {
    .count-quantity button{
        width:15px;
        height: 25px;
    }
    .count-quantity{
        flex-direction: column;
        align-items: center;
    }
    .count-quantity input[type="text"]{
        width:23px !important;
        text-align: left;
        box-sizing: border-box;
    }
    .cart-item-quantity select{
        width: 100%;
    }
}